.btn-group-of-view-repo{
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.btn{
    margin: 2rem !important;
}
.card{
    background: rgb(155, 228, 231)!important;
    border:3px solid rgb(97, 174, 219) !important;
}